<% if @watchlist.errors.any? %>
  <%= error_helper(@watchlist) %>
  <%= error_list(@watchlist) %>
<% end %>



<%= form_for @watchlist do |f| %>
<div><%= f.label :title %></div>
<div><%= f.text_field :title %></div><br>
<div><%= f.submit %></div>
<% end %>
