<% if @watchlist.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@watchlist.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @watchlist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @watchlist do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.submit %>
<% end %>
