<h3>Welcome to the Streaming Watchlist Ap</h3>

<% if logged_in? %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= render '/watchlists/index' %>
  <p><%= link_to 'Create New Watchlist', new_watchlist_path %></p>
  <p><%= link_to 'Add New Show', new_show_path %></p>
  <p><%= link_to 'Search', shows_search_path %></p>

<% end %>
