


<h3> <%= @show.show_title %> <%= link_to 'edit', edit_show_path(@show) %></h3>
<%= button_to "delete", @show, :method => :delete %><br>
<h4> Comments: </h4>
<h6><%= link_to 'Add a Comment', new_show_comment_path(@show)%></h6>

<%= render 'comments/index' %>

<h4> Show Details from OMDB </h4>
<% if @details["Response"] == "False" %>
    <p><%= @details["Error"] %></p>
<% else %>
  <p>Title: <%= @details["Title"] %></p>
  <p>Year: <%= @details["Year"] %></p>
  <p>Rated: <%= @details["Rated"] %></p>
  <p>Released <%= @details["Released"] %></p>
  <p>Runtime: <%= @details["Runtime"] %></p>
  <p>Genre: <%= @details["Genre"] %></p>
  <p>Director: <%= @details["Director"] %></p>
  <p>Writer: <%= @details["Writer"] %></p>
  <p>Actors: <%= @details["Actors"] %></p>
  <p>Type: <%= @details["Type"] %></p>
  <p>Plot: <%= @details["Plot"] %></p>
  <% end %>
