


<h3> <%= @show.show_title %> </h3>
<div class="buttons">
<button id="up_vote" onclick="vote(<%=@show.id%>)">Up Vote</button>
<button id="add_comment" onclick="addCommentForm()">Add Comment</button>
<button id="get_comments", data-show="<%=@show.id%>" onclick="getComments()">Get Comments</button>
<%= button_to 'Edit', edit_show_path(@show), :method => :get %>
<%= button_to "Delete", @show, :method => :delete %>
</div>
<p id="votes">Votes: <%=@show.vote%></p>

<h4> Comments: </h4>
<div class="form_div"></div>
<ul id="comments"></ul>

<h4> Show Details from OMDB </h4>
<% if @details["Response"] == "False" %>
    <p><%= @details["Error"] %></p>
<% else %>

<div class="container">
  <div class="row">
    <div class="col-md-3 omdb">
      <p>Title: <%= @details["Title"] %></p>
      <p>Year: <%= @details["Year"] %></p>
      <p>Rated: <%= @details["Rated"] %></p>
      <p>Released <%= @details["Released"] %></p>
      <p>Runtime: <%= @details["Runtime"] %></p>
    </div>
    <div class="col-md-3 omdb">
      <p>Genre: <%= @details["Genre"] %></p>
      <p>Director: <%= @details["Director"] %></p>
      <p>Writer: <%= @details["Writer"] %></p>
      <p>Actors: <%= @details["Actors"] %></p>
      <p>Type: <%= @details["Type"] %></p>
    </div>
    <div class="col-md-3 omdb">
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-6 omdb">
      <p>Plot: <%= @details["Plot"] %></p>
    </div>
    <div class="col-md-6 omdb">
    </div>
  </div>



  <% end %>
