<!DOCTYPE html>
<html>
  <head>
    <title>StreamingWatchlist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="<%= root_path %>"/>Home</a>
        <div class=navlinks>
         <%= link_to "Sign Up", users_signup_path %>
         <%= link_to "Sign In", sessions_sign_in_path %>
         <%= link_to "Log Out", sessions_destroy_path %>
        </div>
    </div>

    <%= yield %>
  </body>
</html>
