<!DOCTYPE html>
<html>
  <head>
    <title>StreamingWatchlist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="<%= root_path %>"/>Home</a>
        <div class=navlinks>
          <% if logged_in? %>
            <p><%= link_to "Log Out", sessions_destroy_path %></p>
            <p><%= link_to current_user.name, user_path(current_user.id) %></p>
          <% else %>
            <p><%= link_to "Sign Up", new_user_path %></p>
            <p><%= link_to "Sign In", sessions_sign_in_path %></p>
          <% end %>
        </div>
    </div>

    <%= yield %>
  </body>
</html>
